/* || general */

.tic-tac-toe-game {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    min-width: max-content;
    max-width: 80%;
    font: 14px "Century Gothic", Futura, sans-serif;
}

.tic-tac-toe-game ol,
.tic-tac-toe-game ul {
    padding-left: 16px;
}

.tic-tac-toe-game li {
    margin-top: 4px;
}

/* || board */

.tic-tac-toe-game .square {
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
    border: 1px solid lightgrey;
    width: 34px;
    height: 34px;
    background: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}

/* game info */

.tic-tac-toe-game .game-info {
    padding-left: 20px;
}

.tic-tac-toe-game .game-info > * {
    margin: 0 0 16px 0;
}

.tic-tac-toe-game .game-info button {
    width: 256px;
}

.tic-tac-toe-game .game-info > button {
    margin-left: 16px;
}

.tic-tac-toe-game .game-info > div {
    margin-left: 16px;
}

/* highlights */

.tic-tac-toe-game .square.highlighted-green {
    border: 1px solid green;
}

.tic-tac-toe-game .square.highlighted-red {
    background-color: #ef9494;
}

.tic-tac-toe-game .game-info .highlighted-green {
    background-color: greenyellow;
}
